@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Nunito+Sans:wght@500&family=Roboto&display=swap');

$font-logo: "Neucha" cursive;
$font-display: "Nunito-Sans", sans-serif;
$font-body: "Roboto", sans-serif;

$color-primary: rgb(32, 28, 131);
$color-secondary: rgb(2, 159, 250);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-body;
    color: $color-primary;
}

a:link,
a:visited {
    text-decoration: none;
}

nav {
    height: 10vh;
    background-color: white;
    padding: 0px 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-family: $font-logo;
    font-size: 50px;
}

#login {
    display: block;
    width: 100px;
    text-align: center;
    padding: 10px 20px;
    font-family: $font-display;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid $color-primary;
    border-radius: 15px;
}

h1 {
    font-family: $font-display;
    color: $color-secondary;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#screenshot {
    display: flex;
    justify-content: center;
    align-items: center;
}

#heading {
    h2 {
        font-family: $font-body;
        color: $color-primary;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    h3 {
        font-family: $font-body;
        color: $color-primary;
        font-size: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    #tag-line {
        color: $color-secondary;
    }
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        color: white;
        border: 2px solid $color-primary;
        background-color: $color-primary;
        border-radius: 10px;
        padding: 15px 40px;
    }
}


#tag {
    flex-direction: column;

    h3 {
        text-align: center;
        padding: 30px;
    }
}


.eg-left {
    display: flex;

    .left-text {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    .right-image {
        display: flex;
        justify-content: left;
        align-items: flex-end;
        padding-bottom: 20px;
    }
}

.eg-right {
    display: flex;

    .right-text {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    .left-image {
        display: flex;
        justify-content: left;
        align-items: flex-end;
        padding-bottom: 20px;
    }
}
