@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Nunito+Sans:wght@500&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #201c83;
}

a:link,
a:visited {
  text-decoration: none;
}

nav {
  height: 10vh;
  background-color: white;
  padding: 0px 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-family: "Neucha" cursive;
  font-size: 50px;
}

#login {
  display: block;
  width: 100px;
  text-align: center;
  padding: 10px 20px;
  font-family: "Nunito-Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #201c83;
  border-radius: 15px;
}

h1 {
  font-family: "Nunito-Sans", sans-serif;
  color: #029ffa;
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#screenshot {
  display: flex;
  justify-content: center;
  align-items: center;
}

#heading h2 {
  font-family: "Roboto", sans-serif;
  color: #201c83;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#heading h3 {
  font-family: "Roboto", sans-serif;
  color: #201c83;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#heading #tag-line {
  color: #029ffa;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button a {
  color: white;
  border: 2px solid #201c83;
  background-color: #201c83;
  border-radius: 10px;
  padding: 15px 40px;
}

#tag {
  flex-direction: column;
}
#tag h3 {
  text-align: center;
  padding: 30px;
}

.eg-left {
  display: flex;
}
.eg-left .left-text {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.eg-left .right-image {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  padding-bottom: 20px;
}

.eg-right {
  display: flex;
}
.eg-right .right-text {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.eg-right .left-image {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  padding-bottom: 20px;
}